h1 {
 text-align: center;
}

.prefTitulo {
    font-size: 1.5rem;
}

.zonaTitulo {
    font-size: 1.5rem;
}

.ambTitulo {
    font-size: 1.5rem;
}

.emailTitulo {
    font-size: 1.5rem;
}

.telTitulo {
    font-size: 1.5rem;
}